/* Your styles (and Sass) start here */

html {
  font-size: 16px;
}

body {
  background-color: #333;
  color: #fff;
  font-family: Helvetica, sans-serif;
  padding: 25px;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

div {
  width: 100%;
  margin: 15px 0;
}



.module__top {
  margin-bottom: 25px;
  background-color: #f38a6d;
}

.module__bottom {
  margin-top: 50px;
  background-color: #3bbfef;
}



/* Add padding to the parent */
.padding {
    padding: 1px 0;
}


/* **************************************** */
/* COLORS */
/* **************************************** */
.red {
    background-color: #ff6b6b;
}

.orange {
    background-color: #ff9e2c;
}

.yellow {
    background-color: #eeee78;
}

.green {
    background-color: #4ecd9d;
}

.blue {
    background-color: #4e97cd;
}

.purple {
    background-color: #6c4ecd;
}
